/* line 2, _reset.scss */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, em, img, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 15, _reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 16, _reset.scss */
nav ul {
  list-style: none;
}

/* line 17, _reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* line 18, _reset.scss */
del {
  text-decoration: line-through;
}

/* line 19, _reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* line 21, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 22, _reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 23, _reset.scss */
input, select {
  vertical-align: middle;
}

/* line 26, _reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

/* line 27, _reset.scss */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 30, _reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 33, _reset.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 36, _reset.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* line 39, _reset.scss */
html {
  overflow-y: scroll;
}

/* line 42, _reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 45, _reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 10, _setup.scss */
nav ul li a, .new span.overlay, #player_nav li a, #listing li a {
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

/* line 2, _global.scss */
body, select, input, textarea {
  color: #4e4f48;
}

/* line 5, _global.scss */
body {
  background-color: #4e4f48;
  font-family: "Trebuchet MS", san-serif;
  font-size: 80%;
}

/* line 10, _global.scss */
#container {
  width: 820px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 70px;
  -moz-box-shadow: -3px 0px 5px #20211D;
  -webkit-box-shadow: -3px 0px 5px #20211D;
  box-shadow: -3px 0px 5px #000;
  behavior: url(PIE.htc);
}

/* line 21, _global.scss */
#main {
  hidden: overflow;
  overflow: auto;
}

/* line 26, _global.scss */
h2 {
  font-size: 2em;
}

/* line 30, _global.scss */
img {
  float: left;
}

/* line 2, _header.scss */
header {
  height: 125px;
  background: transparent url(../images/logo.png) no-repeat 0 18px;
  border-bottom: 2px solid #c2cf52;
  position: relative;
  margin-bottom: 25px;
}
/* line 9, _header.scss */
header h1 {
  text-indent: -9999px;
  height: 44px;
}
/* line 13, _header.scss */
header p {
  font-weight: bold;
  margin-top: 12px;
  text-align: right;
}
/* line 18, _header.scss */
header form {
  float: right;
  margin-top: 45px;
}
/* line 22, _header.scss */
header input {
  position: relative;
  height: 16px;
  width: 150px;
  border: 2px solid #4e4f48;
  border-radius: 7px;
  behavior: url(PIE.htc);
}
/* line 29, _header.scss */
header input[type="text"] {
  padding: 5px;
  background: url(../images/search.png) no-repeat 5px 5px;
  padding-left: 30px;
  font: bold italic 1.2em Georgia, "Times New Roman", Times, serif;
  color: #ddd;
}
/* line 36, _header.scss */
header input[type="submit"] {
  height: 30px;
  width: 40px;
  font-weight: bold;
}
/* line 42, _header.scss */
header .account {
  position: absolute;
  top: 20px;
  right: 145px;
}
/* line 47, _header.scss */
header .account a {
  display: block;
  font-size: .9em;
  color: #4e4f48;
  padding-top: 0px;
}
/* line 53, _header.scss */
header .account a:hover {
  text-decoration: underline;
}
/* line 57, _header.scss */
header .account a[href^="cart"] {
  position: absolute;
  right: -100px;
  top: 0;
  height: 50px;
  width: 86px;
  line-height: 30px;
}
/* line 66, _header.scss */
header .account a[href^="cart"] img {
  margin-right: 8px;
}

/* line 73, _header.scss */
.branding #logo {
  display: block;
  position: relative;
  width: 280px;
  height: 125px;
  left: 0px;
  overflow: hidden;
}

/* line 2, _nav.scss */
nav {
  height: 30px;
  margin: 45px 0 0;
  line-height: 30px;
  font-weight: bold;
}
/* line 8, _nav.scss */
nav ul li a {
  position: relative;
  width: 112px;
  float: left;
  background-color: #4e4f48;
  margin-right: 5px;
  text-align: center;
  color: white;
  border-radius: 7px;
  behavior: url(PIE.htc);
}
/* line 19, _nav.scss */
nav ul li a:hover {
  background-color: #c2cf52;
}
/* line 24, _nav.scss */
nav ul.account {
  float: none;
  margin-top: 0;
  border: 1px solid #3FF;
}

/* line 31, _nav.scss */
nav ul li, footer ul li {
  float: left;
}

/* line 37, _nav.scss */
#type {
  display: none;
  background-color: #4e4f48;
  width: 580px;
  height: 260px;
  position: absolute;
  top: 119px;
  left: 80px;
  z-index: 200;
  padding: 10px 0px 10px 10px;
  line-height: 50px;
  border-radius: 10px;
  behavior: url(PIE.htc);
}
/* line 50, _nav.scss */
#type li {
  float: left;
  width: 190px;
}
/* line 54, _nav.scss */
#type li a {
  box-sizing: border-box;
  color: white;
  width: 180px;
  margin: 8px;
  padding-left: 60px;
  text-align: left;
}
/* line 64, _nav.scss */
#type img {
  padding-right: 8px;
}

/* line 2, _footer.scss */
footer {
  clear: both;
  font-size: .9em;
  margin-top: 2em;
  margin-left: -1em;
  height: 30px;
}
/* line 9, _footer.scss */
footer li {
  list-style: none;
}
/* line 12, _footer.scss */
footer li a {
  padding: 0 .8em;
  border-right: 1px solid #4e4f48;
  color: #4e4f48;
}
/* line 17, _footer.scss */
footer li a.last {
  border-right: none;
}

/* line 24, _footer.scss */
.copyright {
  text-align: right;
}

/* line 2, _feature.scss */
#feature {
  margin-bottom: 20px;
  float: left;
  position: relative;
}
/* line 7, _feature.scss */
#feature img {
  position: relative;
}

/* line 13, _feature.scss */
.new {
  float: left;
}
/* line 16, _feature.scss */
.new span.overlay {
  display: block;
  opacity: 0;
  position: absolute;
  bottom: -35px;
  height: 35px;
  width: 185px;
  background-color: #4e4f48;
  background-color: rgba(78, 79, 72, 0.8);
  z-index: 100;
  font-weight: bold;
  padding: 10px;
  color: white;
}
/* line 32, _feature.scss */
.new a:hover span.overlay {
  opacity: 1;
  bottom: 0;
}

/* line 38, _feature.scss */
span.overlay img {
  padding-right: 6px;
}

/* line 2, _ads.scss */
#ad {
  clear: both;
  margin: 10px 0 30px;
  color: black;
  font-size: 2em;
  float: left;
}

/* line 9, _ads.scss */
#newsletter {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  padding: 10px 8px;
  background-color: #4e4f48;
  float: right;
  font-weight: bold;
  text-align: center;
}
/* line 19, _ads.scss */
#newsletter a {
  color: #c2cf52;
}

/* line 5, _workout.scss */
#price {
  float: right;
  margin: -20px 280px 0 0;
  font-weight: bold;
}

/* line 10, _workout.scss */
#add {
  clear: both;
  margin: -23px 180px 18px 0;
  float: right;
}

/* line 17, _workout.scss */
#player_nav {
  clear: both;
  height: 48px;
  font-weight: bold;
  font-size: 1.2em;
  list-style: none;
}
/* line 24, _workout.scss */
#player_nav li {
  float: left;
}
/* line 26, _workout.scss */
#player_nav li a {
  position: relative;
  display: block;
  width: 156px;
  height: 43px;
  line-height: 43px;
  padding: 0 0 0 50px;
  background: #4e4f48 url(../images/player.png) no-repeat;
  border: 5px solid #4e4f48;
  border-bottom: none;
  color: white;
  margin-right: 1px;
  -moz-border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  behavior: url(PIE.htc);
  -webkit-transition-property: border, color, background-color;
  -moz-transition-property: border, color, background-color;
  -o-transition-property: border, color, background-color;
  transition-property: border, color, background-color;
}
/* line 49, _workout.scss */
#player_nav li a:hover {
  background-color: #c2cf52;
  border: 5px solid #c2cf52;
  border-bottom: none;
}
/* line 54, _workout.scss */
#player_nav li a.active {
  background: white url(../images/player.png) no-repeat;
  color: #4e4f48;
  height: 43px;
  border: 5px solid #4e4f48;
  border-bottom: none;
  cursor: default;
}
/* line 64, _workout.scss */
#player_nav li li a[href^="#reviews"] {
  margin-right: 0;
}
/* line 69, _workout.scss */
#player_nav li.detail a {
  background-position: 0 -43px;
}
/* line 70, _workout.scss */
#player_nav li.video a {
  background-position: 0 -129px;
}
/* line 71, _workout.scss */
#player_nav li.review a {
  background-position: 0 -215px;
}
/* line 73, _workout.scss */
#player_nav li.detail a.active {
  background-position: 0 0px;
}
/* line 74, _workout.scss */
#player_nav li.video a.active {
  background-position: 0 -86px;
}
/* line 75, _workout.scss */
#player_nav li.review a.active {
  background-position: 0 -172px;
}
/* line 77, _workout.scss */
#player_nav img {
  vertical-align: middle;
  margin: 0 10px;
  float: none;
}

/* line 84, _workout.scss */
#player {
  width: 640px;
  border: 5px solid #4e4f48;
  border-top: none;
  min-height: 400px;
  float: left;
  -moz-border-radius: 0 0 15px 15px;
  -webkit-border-radius: 0 0 15px 15px;
  -o-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
  behavior: url(PIE.htc);
}

/* line 98, _workout.scss */
#col1 {
  float: left;
  width: 200px;
  padding: 15px;
}
/* line 103, _workout.scss */
#col1 .stock {
  font-size: 2em;
}
/* line 107, _workout.scss */
#col1 p {
  font-size: .9em;
  line-height: 1.3em;
}

/* line 113, _workout.scss */
#col2 {
  float: left;
  width: 370px;
  padding: 15px;
}
/* line 118, _workout.scss */
#col2 .description {
  clear: left;
  padding-top: 15px;
}

/* line 124, _workout.scss */
#details, #video, #reviews {
  clear: both;
  overflow: hidden;
}

/* line 128, _workout.scss */
.classify {
  clear: right;
  margin-top: 10px;
}
/* line 132, _workout.scss */
.classify p {
  line-height: 35px;
  float: left;
  font-weight: bold;
}
/* line 137, _workout.scss */
.classify img {
  vertical-align: middle;
  padding: 5px;
}

/* line 143, _workout.scss */
#details {
  line-height: 1.4em;
}

/* line 147, _workout.scss */
#video {
  width: 600px;
  margin: auto;
  padding: 15px;
}

/* line 152, _workout.scss */
#reviews {
  width: 590px;
  margin: auto;
  padding: 20px;
}
/* line 157, _workout.scss */
#reviews img {
  float: left;
}
/* line 160, _workout.scss */
#reviews h3 {
  float: left;
  margin: 0 0 5px 5px;
  font-size: 1.1em;
}
/* line 165, _workout.scss */
#reviews p {
  line-height: 1.4em;
  margin: 0 0 1.2em 0;
}

/* line 171, _workout.scss */
p.reviewer {
  clear: both;
  font-size: .95em;
  margin: 15px 4px;
}

/* line 2, _sidebar.scss */
#sidebar {
  margin: -48px 0 0 10px;
  padding: 10px 15px 25px;
  width: 130px;
  height: 420px;
  background-color: #4e4f48;
  color: white;
  float: right;
  border-radius: 15px;
  behavior: url(PIE.htc);
}
/* line 12, _sidebar.scss */
#sidebar img {
  margin-left: 15px;
}
/* line 16, _sidebar.scss */
#sidebar h3 {
  margin: 5px 12px 10px;
  font-size: 1.2em;
}

/* line 2, _category.scss */
#category #main {
  height: 468px;
}

/* line 7, _category.scss */
#listing ul {
  line-height: 50px;
  border-radius: 10px;
  behavior: url(PIE.htc);
}
/* line 12, _category.scss */
#listing img {
  padding-right: 8px;
}
/* line 16, _category.scss */
#listing li {
  list-style: none;
}
/* line 19, _category.scss */
#listing li a {
  box-sizing: border-box;
  width: 200px;
  margin: 10px;
  display: block;
  float: left;
  line-height: 50px;
  color: #4e4f48;
  font-size: 1.3em;
  margin-left: 1em;
  padding-left: 60px;
}
/* line 32, _category.scss */
#listing li a:hover {
  border-radius: 8px;
  behavior: url(PIE.htc);
  background-color: #c2cf52;
}
