// Advertisements
#ad {
  clear: both;
  margin: 10px 0 30px;
  color: black;
  font-size: 2em;
  float: left;
}
#newsletter {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  padding: 10px 8px;
  background-color: $base;
  float: right;
  font-weight: bold;
  text-align: center;

  a {
    color: $accent;
  }
}

.ad {
  clear: both;
  width: 728px;
  height: 90px;
  margin: 10px 0 30px;
  background-color: $accent;
  color: $base;
  float: left;
  overflow: hidden;
  position: relative;

  .msg {
    padding-left: 40px;
    width: 100%;
    font-size: 3em;
    line-height: 90px;
    position: absolute;
    top: 0;
    background-color: $accent;
    // set initial opacity to 0 for all messages
    opacity: 0;

    &:first-child {
      font-size: 4em;
    }

    &:last-of-type {
      font-size: 2.2em;
      line-height: 1.2em;
      p {
        margin-top: 10px;
        width: 60%;
        float: left;
      }
      img {
        float: left;
        margin: 20px 5px;
        opacity: .8;
      }
    }

  }
}
.newsletter {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  padding: 10px 8px;
  background-color: $base;
  float: right;
  font-weight: bold;
  text-align: center;

  a {
    color: $accent;
  }
}


// Animation Set Up - Step 1
@-webkit-keyframes adAnimation {
  0%           { opacity: 0; }
  5%, 20%      { opacity: 1; }
  24.9%, 100%  { opacity: 0; }
}

// Animate the Ad - Step 2
.ad {
  .msg:nth-of-type(1) {
    -webkit-animation: adAnimation 20s infinite;
    -webkit-animation-delay: 0;
  }
}
.ad {
  .msg:nth-of-type(2) {
    -webkit-animation: adAnimation 20s infinite;
    -webkit-animation-delay: 4s;
  }
}
.ad {
  .msg:nth-of-type(3) {
    -webkit-animation: adAnimation 20s infinite;
    -webkit-animation-delay: 8s;
  }
}
.ad {
  .msg:nth-of-type(4) {
    -webkit-animation: adAnimation 20s infinite;
    -webkit-animation-delay: 12s;
  }
}
.ad {
  .msg:nth-of-type(5) {
    -webkit-animation: adAnimation 20s infinite;
    -webkit-animation-delay: 16s;
  }
}




