// Advertisements
#ad {
  clear: both;
  margin: 10px 0 30px;
  color: black;
  font-size: 2em;
  float: left;
}
#newsletter {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  padding: 10px 8px;
  background-color: $base;
  float: right;
  font-weight: bold;
  text-align: center;

  a {
    color: $accent;
  }
}

.ad {
  clear: both;
  width: 728px;
  height: 90px;
  margin: 10px 0 30px;
  background-color: $accent;
  color: $base;
  float: left;
  overflow: hidden;
  position: relative;

  .msg {
    padding-left: 40px;
    width: 100%;
    font-size: 3em;
    line-height: 90px;
    position: absolute;
    top: 0;
    background-color: $accent;
    // set initial opacity to 0 for all messages
    opacity: 0;

    &:first-child {
      font-size: 4em;
    }

    &:last-of-type {
      font-size: 2.2em;
      line-height: 1.2em;
      p {
        margin-top: 10px;
        width: 60%;
        float: left;
      }
      img {
        float: left;
        margin: 20px 5px;
        opacity: .8;
      }
    }

  }
}
.newsletter {
  height: 70px;
  width: 70px;
  margin-top: 10px;
  padding: 10px 8px;
  background-color: $base;
  float: right;
  font-weight: bold;
  text-align: center;

  a {
    color: $accent;
  }
}

