// Animation Set up
$ad-screen-count: 6;      // How many screens are in the slide show
$ad-screen-duration: 3;   // How long will each screen be displayed at full opacity
$ad-fade-duration: 1;     // How long should it take to fade in and later fade out

$ad-msg-duration: $ad-fade-duration + $ad-screen-duration;  // How long is one screen's animation.
$total-duration: $ad-msg-duration * $ad-screen-count;       // How long for slide show

$ad-screen-pct: 100% / $ad-screen-count;
$ad-fade-pct: $ad-fade-duration / $total-duration * 100%;
$ad-hide-pct: $ad-screen-pct + $ad-fade-pct;

//@warn 'hide-pct:' $ad-hide-pct 'fade-pct:' $ad-fade-pct;

// Animation Set Up - Step 1
@-webkit-keyframes adAnimation {
  0%                                  { opacity: 0; }
  #{$ad-fade-pct}, #{$ad-screen-pct}  { opacity: 1; }
  #{$ad-hide-pct}, 100%               { opacity: 0; }
}

// Animate the Ad - Step 2
.ad {
  .msg {
    -webkit-animation: adAnimation #{$total-duration}s infinite;

    @for $i from 1 through $ad-screen-count {
      &:nth-of-type(#{$i}) {
        -webkit-animation-delay: #{($i - 1) * $ad-msg-duration}s;
      }
    }
  }
}

