// Footer Styles
footer {
  clear: both;
  font-size: .9em;
  margin-top: 2em;
  margin-left: -1em;
  height: 30px;

  @include mq() {
	margin: 1em 0 1em .5em;
	overflow: auto;
	height: 6em;
	font-size: 85%;
  }

  li {
    list-style: none;
    float: left;

    a {
      padding: 0 .8em;
      border-right: 1px solid $base;
      color: $base;

      &.last {
        border-right: none;
      }
    }
  }
}

.copyright {
  text-align: right;
  @include mq() {
	margin: 3em 1em 1em 1em;
	text-align: center;
	clear: both;
  }
}