// Navigation
nav {
  height: 30px;
  margin: 45px 0 0;
  line-height: 30px;
  font-weight: bold;

  @include mq() {
	height: 200px;
	margin: 0;
	float: none;
  }

  ul li a {
    position: relative;
    width: 112px;
    float: left;
    background-color: $base;
    margin-right: 5px;
    text-align: center;
    color: white;
    @include rounded;
    @extend %transition;

    @include mq() {
      display: block;
      float: none;
      width: 95%;
      height: 35px;
      padding: 0 0 0 10px;
      margin: 2px auto;
      font-size: 1.2em;
      font-weight: bold;
      text-align: left;
      border-radius: 0px;
    }

    &:hover {
      background-color: $accent;
    }
  }

  ul.account {
    float: none;
    margin-top: 0;
    border: 1px solid #3FF;
  }
}

nav ul li {
  float: left;
  @include mq() {
    float: none;
  }
}


// Workout Overlay Menu
#type {
  display: none;
  background-color: $base;
  width: 580px;
  height: 260px;
  position: absolute;
  top: 119px;
  left: 80px;
  z-index: 200;
  padding: 10px 0px 10px 10px;
  line-height: 50px;
  @include rounded(10px);

  li {
    float: left;
    width: 190px;

    a {
      color: white;
      width: 180px;
      margin: 8px;
      text-align: left;
    }
  }

  img {
    padding-right: 8px;
  }
}