// WebSite SetUp - Variables, Mixins and Extend definitions

$base:    #4E4F48;
$accent:  #C2CF52;

$basefont: "Trebuchet MS", san-serif;

$icon_padding: 60px;

%transition {
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

@mixin rounded($radius: 7px) {
  border-radius: $radius;
  behavior: url(PIE.htc);
}