// Workout Details Page
$image_size: 43px;
$image_offset: -($image_size);

@mixin bp($place: 0) {
  background-position: 0px ($image_offset * $place) - 2;
}

#price {
  float: right;
  margin: -20px 280px 0 0;
  font-weight: bold;
}
#add {
  clear: both;
  margin: -23px 180px 18px 0;
  float: right;
}

// Workout Tabs
#player_nav {
  clear: both;
  height: 48px;
  font-weight: bold;
  font-size: 1.2em;
  list-style: none;

  li {
    float: left;
    a {
      position: relative;
      display: block;
      width: 156px;
      height: $image_size;
      line-height: $image_size;
      padding: 0 0 0 50px;
      background: $base url(../images/player.png) no-repeat;
      border: 5px solid $base;
      border-bottom: none;
      color: white;
      margin-right: 1px;
      @include border-radius(15px 15px 0 0);
      behavior: url(PIE.htc);
      @extend %transition;
      @include transition-property(border, color, background-color);

      &:hover {
        background-color: $accent;
        border: 5px solid $accent;
        border-bottom: none;
      }
      &.active {
        background: #ffffff url(../images/player.png) no-repeat;
        color: $base;
        height: $image_size;
        border: 5px solid $base;
        border-bottom: none;
        cursor: default;
      }
    }

    li a[href^="#reviews"] {
      margin-right: 0;
    }
  }

  li.detail a { @include bp(1) }
  li.video a  { @include bp(3) }
  li.review a { @include bp(5) }

  li.detail a.active { @include bp(0) }
  li.video  a.active { @include bp(2) }
  li.review a.active { @include bp(4) }

  img {
    vertical-align: middle;
    margin: 0 10px;
    float: none;
  }
}

#player {
  width: 640px;
  border: 5px solid $base;
  border-top: none;
  min-height: 400px;
  float: left;
  @include border-radius(0 0 15px 15px);
  behavior: url(PIE.htc);

}

#col1 {
  float: left;
  width: 200px;
  padding: 15px;

  .stock {
    font-size: 2em;
  }

  p {
    font-size: .9em;
    line-height: 1.3em;
  }
}

#col2 {
  float: left;
  width: 370px;
  padding: 15px;

  .description {
    clear: left;
    padding-top: 15px;
  }
}

#details, #video, #reviews {
  clear: both;
  overflow: hidden;
}
.classify {
  clear: right;
  margin-top: 10px;

  p {
    line-height: 35px;
    float: left;
    font-weight: bold;
  }
  img {
    vertical-align: middle;
    margin: 5px;
    background-color: $accent;
    @include rounded(5px);
  }
}

#details {
  line-height: 1.4em;
}

#video {
  width: 600px;
  margin: auto;
  padding: 15px;
}
#reviews {
  width: 590px;
  margin: auto;
  padding: 20px;

  img {
    float: left;
  }
  h3 {
    float: left;
    margin: 0 0 5px 5px;
    font-size: 1.1em;
  }
  p {
    line-height: 1.4em;
    margin: 0 0 1.2em 0;
  }
}

p.reviewer {
  clear: both;
  font-size: .95em;
  margin: 15px 4px;
}